
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 800px;
  margin: 150px auto;
  border: 1px solid #12bb2e; 
}

header { 
  background-color:#238823;
  color: #a5f051; 
  font-size: 35px;
  padding: 20px;  
}

.todos-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.todos-list .item {
  border: 1px solid #148314; 
  background-color: #b2f870;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  font-size: 14px;
  line-height: 37px;
}

.todos-list .item input[type="checkbox"] {
  width: 20px;
  margin-right: 40px;
}

.todos-list .item .finished-item {
  text-decoration: line-through;
} 

.todos-list .item button.delete-item p {
  font-size: 12px;
  color:rgb(139, 132, 132);
}
button  {
  background-color:  #cddacd;
  border: 0.5px solid #b8bdb8; 
  border-radius: 10%;
}

p.hidden {
  display: none;
}

p.shown {
  display: block;
  background-color: #b2f870; 
  padding: 18px;
  margin: 0px; 
  border: 1px solid #148314;
}

input {
  border: 1px solid #148314; 
  padding: 12px 0;
  margin: 12px 0;
  width: 70%;
  text-align: center;
  background-color: #b2f870;
}

form {
  border: 1px solid #148314; 
  background-color: #b2f870;
}

.timer{
  position: absolute;
  top: 85px;
}
